# Project Conventions

## Technology Stack
- Bun 
- Vite 
- React 
- Tailwind 
- Shadcn UI (With Vite)
- TanStack React Router 
- TanStack React Query 

## cli:
- use bun, don't use npm or any other package manager

## Styling:
- use tailwind classes
- Don't use px, Use rem instead

## Query and API:
- use tanstack react query

## Routing:
- use tanstack react router

## File naming:
- Always kebab-case
- @api: <module-name>.api.tsx
- @lang: <file-name>.lang.tsx
- @layout: <component-name>.layout.tsx
- @form: <component-name>.form.tsx
- @ui: <component-name>.ui.tsx
- @routes: <component-name>.route.tsx or component-name>.route.lazy.tsx for lazy, (except __root file, don't add any suffix)

## Code naming:
- Components: PascalCase with prefix based on type:
  - Forms: Form[Name] (FormSignUp)
  - Layouts: App[Name] (AppHeader)
- Functions/Variables: snake_case with prefix based on type: 
  - Api: api_[module-name] (api_user)
  - events: [event-name]_[usecase] (submit_form_user, click_button_sign_in)
- States: $prefix ($user)
- Setters: $_prefix ($_user)

## Exports/Imports:
- Always use default export for components
- Use aliases (@layout/<component-name>.layout, @routes/<component-name>.route, ...)

## Import Statements
- Use default exports for Components, Libs, Forms, etc....
- Path Aliases: Use aliases defined in `tsconfig.json` for local module imports:
  - `@api/*`
  - `@form/*`
  - `@lib/*`
  etc...
- Import Prefixes:
  - Form: `Form<FormName>`
  - layout: `layout_<LayoutName>`
  - lib: `lib_<lib_name>`
  - api: `api_<api_name>` (default import)
  etc...
- External libraries use named imports.

## Code Style
- No Comments: Code should be self-explanatory; remove all `//` and `/* */` comments.
